.remote
*.pyc
__pycache__
*.json
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
output
tools
func_tests.sh
virtualenv
*.log
templates_tests.sh
core_config.ini
debug
debug.sh
remote_debug.py